html {
  font-family: "Archivo Black", sans-serif;
  font-family: Pompiere, sans-serif;
  background-color: #223f5e;
}

main {
  max-width: 20rem;
  margin: 0 auto;
}

article {
  border: 5px solid #fff;
}

.white-text {
  color: #fff;
}

.allcaps {
  font-family: "Archivo Black", sans-serif;
  color: #aaa692;
}

.opac {
  transition: all 1000ms ease-in;
  opacity: .2;
}

@media only screen and (min-width: 60em) {

  .opac:hover {
    opacity: .8;
  }

}
