html {
  font-family: "Archivo Black", sans-serif;
  font-family: 'Pompiere', sans-serif;
  background-color: #142740;
}

main {
  max-width: 20rem;
  margin: 0 auto;

}

article {
  border: 4px solid #fff;
}

.white-text {
  color: #fff;
}

.allcaps {
  font-family: "Archivo Black", sans-serif;
  color: #a3a692;
}

.opac {
  transition: all 1000ms ease-in;
  opacity: 0.1;
}

@media only screen and (min-width: 60em) {

.opac:hover {

  opacity: .8;
}

}
